// Specific CSS for your home-page
section {
  width: 1080px;
  height: 1920px;
  min-height: 100vh;
  border: 1px solid #ccc;
  border-radius: 30px;
  overflow-y: hidden;
  background-color: white;
  &:hover {
    overflow-y: scroll;
  }
}

.avatar-img {
  height: 100px;
}

.col-sm {
  display: flex;
  justify-content: space-evenly;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

@media(max-width: 992px) {
  grid-template-columns: 1fr 1fr;
}
@media(max-width: 768px) {
  grid-template-columns: 1fr;
}
@media (min-width: 1200px) {
  grid-template-columns: 1fr 1fr 1fr;
 }

