<!-- <a href="/users/sign_out"><i class="fas fa-sign-out-alt m-3"></i></a>
<%= link_to "logout", destroy_user_session_path %> -->

<div class="home-container">

      <h1 class="title"> Mar°C</h1>
      <h7 class="subtitle">Your most accurate weather forecast</h7><br>
      <h9> in one place</h9>
      <br>
        <br>
        <br>
        <div>
          <%= link_to "Get started", new_user_registration_path, class: "btn-home" %>
          <br>
          <br>
          <br>
          <br>

          <%= link_to "Login", new_user_session_path,class: "link" %>
       </div>

</div>


