<div id="bg-daily" class="pt-3">
  <br>
<div class="icon-bar pr-3">
  <a href="/preferences"><i class="fas fa-user-cog"></i></i></a>
  <a class="active" href="/forecast"><i class="fas fa-angle-up"></i></a>
</div>
  <h3 class="text-center"> Daily Forecast</h3>
<table class="table table-borderless p-3">
  <thead>
      <th scope="col"><strong><p>Day</p></strong></th>
      <th scope="col"><strong><p></p></strong></th>
      <th scope="col"><strong><p>min</p></strong></th>
      <th scope="col"><strong><p>max</p></strong></th>
  </thead>
  <%@forecast_daily.each do |forecast|%>
  <tbody>
      <td><p class="time"><%= Time.at(forecast['dt']).strftime('%A') %></p></td>
      <td><img class="icon" src='https://openweathermap.org/img/w/<%=forecast['weather'][0]['icon']%>.png'></td>
      <td><p class="temperature"><%= (forecast['temp']['min']).to_i  %>°C</p></td>
      <td><p class="temperature"><%= (forecast['temp']['max']).to_i  %>°C</p></td>
  </tbody>
  <% end %>
</table>


