<div id="bg-daily">
    <a class="left" href="/forecast"><i class="fas fa-chevron-left"></i></a>
    <br>
  <h3 class="text-center"> Daily Forecast</h3>
<table class="table table-borderless">
  <thead>
      <th scope="col"><strong><p>Day</p></strong></th>
      <th scope="col"><strong><p></p></strong></th>
      <th scope="col"><strong><p>min</p></strong></th>
      <th scope="col"><strong><p>max</p></strong></th>
  </thead>
  <%@forecast_daily[0..6].each do |forecast|%>
  <tbody>
      <td><p class="time-daily"><%= Time.at(forecast['dt']).strftime('%A') %></p></td>
      <td><img class="icon" src='https://openweathermap.org/img/w/<%=forecast['weather'][0]['icon']%>.png'></td>
      <td><p class="temperature-daily"><%= (forecast['temp']['min']).to_i  %>°C</p></td>
      <td><p class="temperature-daily"><%= (forecast['temp']['max']).to_i  %>°C</p></td>
  </tbody>
  <% end %>
</table>
  <div class="icon-bar">
    <a href="/temperatures/new"><i class="fas fa-temperature-low"></i></a>
    <a href="/wardrobe"><i class="fas fa-tshirt"></i></a>
    <a href="/trips/new"> <i class="far fa-paper-plane"></i></a>
    <a href="/preferences"><i class="fas fa-user"></i></a>
  </div>
</div>

