<div id="bg-img">
    <div id="wrapper text-center">
      <!-- Location and Date -->
    <div class="hourly d-flex">

      <div id="time-overview">
        <p id="time">4PM</p>
        <p id="temperature">36°C</p>
        <img id="icon">
      </div>

      <div id="time-overview">
        <p id="next-hour">5PM</p>
        <p id="next-deg" data-num="1" data-temp="cel">36°C</p>
           <img id="icon">
      </div>

      <div id="time-overview">
        <p id="next-hour">6PM</p>
        <p id="next-deg" data-num="1" data-temp="cel">36°C</p>
           <img id="icon">
      </div>
    </div>

<hr>
      <!-- Other weather data -->
      <div id="parameters">
        <p class="text-center"><%= "Feels like" %></p><p id="feels_like"></p>
        <ul>
          <li>Sunrise</li>
          <li>Sunset</li>
          <li>Visibility</li>
          <li>Wind</li>
          <li>Humidity</li>
          <li>Cloud</li>
          <li>Pressure</li>
        </ul>

        <!-- Icons -->
        <ul>
          <li></li>
          <li></li>
          <li></i></li>
          <li></i></li>
          <li></li>
          <li></li>
        </ul>
        <!-- API Current Data -->
        <ul>
          <li id="sunrise"></li>
          <li id="sunset"></li>
          <li id="visibility"></li>
          <li id="speed"></li>
          <li id="humidity"></li>
          <li id="all"></li>
          <li id="pressure"></li>
        </ul>

      </div>
  </div>




