<button onclick="myFunction()">Click me</button>
<p class="time"></p>

<p class="temperature"></p>

<p class="condition"></p>

<script>

var index = 0 
var forecast = <%= JSON.generate(@forecast_hourly).html_safe%>
console.log(forecast[index])
update()


function myFunction() {
    if (index + 1 < forecast.length) {
            index = index + 1
    console.log(forecast[index])
    update()
    }

}

function update(){
    document.querySelector('.temperature').innerText = forecast[index].temp
    var datetime = forecast[index].dt * 1000
    document.querySelector('.time').innerText = Date(datetime).toLocaleString()
    document.querySelector('.condition').innerText = forecast[index].weather[0].main


}
1598470008592
1598479200

</script>