#bg-daily {
  background-image: url("evening.svg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding-top: 1em;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.time-daily{
  color: white;
}

li p {
  color: white;
}

.temperature-daily {
  color: white;
  font-size: 1rem;
}

h3 {
  color: white;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    padding-bottom: 0;
    font-size: 1rem;
}

thead p {
  color: white;
  font-size: 1.5rem;
}
.table {
width: 94%;
margin-top: 3rem;
}
