.date-description {
  position: absolute;
  margin-top: 8rem;
  margin-left: 5rem;
}


.weather_image{
    width: 60%;
    justify-content: center;
    opacity: 0.7;
}
.cloud{
    transition-duration: 1s;
    animation: cloud 5s infinite;
    animation-direction: alternate-reverse;
      position: absolute;
}

.raincloud{
    transition-duration: 1s;
    animation: cloud 5s infinite;
    animation-direction: alternate-reverse;
      position: absolute;
}

@keyframes cloud {
  0%   {right: 0%;}
  100% {right: 30%;}
}

.swiper-box{
    height: 100%;
    background-size: cover;
    transition-duration: 2s;
}

.condition{
    font-size: xx-large;
    color: white;
    font-size: 5em;
    }
.city{
    color: white;
    font-size: x-large

}
.date{
    color: white;
    font-size: x-large
}

.avatar_image{
    width: 60%;
    position: absolute;
    top: 50%;
    right: 20%;
}
#avatar_composite{
    position: sticky;
    padding-top: 35%;
}
.top{
    position: absolute;
    padding-top: 43%;
    padding-left: 19%;
}
.bottom{
    position: absolute;
    padding-top: 70%;
    padding-left: 15%;
}
.head{
    position: absolute;
    left: 34%;
    top: 165%;
}
