.greeting {
    margin-top: 14rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1.5em;
    position: absolute;
    padding: 1em;
    text-shadow: 1px 3px #717d8a3b;
    width: 100%;
    transition: 0.5s;
}
#dashboard {
    border-radius: 2em;
}
.date-description {
    position: absolute;
    margin-top: -13%;
    margin-left: 31%;
}
.time {
  font-size: 2rem;
  color: white;
}
//.temp {
//  font-size: 3rem;
//  margin-left: 3rem;
//  color: white;
//}
.condition_temp {
    margin-top: 34%;
    margin-left: 8%;
    color: white;
    font-size: 1em;
    text-align: initial
}
.weather_image{
    width: 60%;
    justify-content: center;
    opacity: 0.7;
}

.raincloud{
    transition-duration: 1s;
    animation: cloud 5s infinite;
    animation-direction: alternate-reverse;
      position: absolute;
}

@keyframes cloud {
  0%   {right: 0%;}
  100% {right: 30%;}
}

.swiper-box{
    height: 812px;
    background-size: cover;
    transition-duration: 2s;
    overflow: hidden;
}

h10 {
  font-size: 3rem;
}
//
// .condition h1 {
// //    color: white;
//    font-size: 3rem;
// //    // margin-left: -3rem;
// //    // margin-top: -3rem;
//    }
// //
.city{
    color: white;
    font-size: 2rem;

}
.date{
    color: white;
    font-size: 1rem;
}

.avatar_image{
    width: 60%;
    position: absolute;
    top: 50%;
    right: 20%;
}
#avatar_composite{
    position: sticky;
    padding-top: 35%;
}
.top{
    position: absolute;
    padding-top: 30%;
    padding-left: 16%;
}
.bottom{
    position: absolute;
    padding-top: 60%;
    padding-left: 10%;
}
.head{
    position: absolute;
    left: 32%;
    top: 123%;
}
#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    z-index: 1000;
}

#modal-content {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    display: none;
    /* left: 41%; */
    padding: 10px;
    position: absolute;
    top: 59%;
    /* width: 32rem; */
    z-index: 1000;
    font-size: 1rem;
    margin: 0.5em;
    margin-top: -43%;
}


#modal-background.active, #modal-content.active {
    display: block;
}
#sun {
    transition: 2s ;

position: absolute;
margin-top: -33%;
width: 60%;
margin-left: 67%;
animation: auto;
animation: spin 8s linear infinite;
visibility: hidden;
}

@keyframes spin { 100% {transform:rotate(360deg); } }

#moon{
    position: absolute;
    margin-top: -33%;
    width: 60%;
    margin-left: 67%;
    transition: 2s;
    visibility: hidden;
}
