.icon-bar {
  position: absolute;
  bottom: 0;
  width: 100%; /* Full-width */
  background-color: rgba(0, 0, 0, 0.4);
  //background-color: #84a7d2; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
};

.icon-bar a {
  //float: right; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-block;
  margin-bottom: 12px;

}

.icon-bar a:hover {
  color: black;
  // border-bottom-right-radius: 1em;
}
