.icon-bar {
  position: absolute;
  bottom: 0;
  width: 100%; /* Full-width */
  background-color: rgba(0, 0, 0, 0.4);
  //background-color: #84a7d2; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
};

.icon-bar a {
  //float: right; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 24%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 1em 0em 0em 1em; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
}

.icon-bar a:hover {
  color: black;
  // border-bottom-right-radius: 1em;
}
