* {
  padding: 0;
  margin: 0;
}

// html {
//   font-size: 16px;
//   text-align: center;
//   color: #0b0b0b;
//   font-family: "Cabin", sans-serif;
// }

ul {
  text-align: left;
  list-style-type: none;
}

h1 {
  font-size: 2rem;
  margin-bottom: 7px;
}

// h2 {
//   font-size: 1.5rem;
//   color: white;
// }

h4 {
  font-size: 2em;
}

h3 {
  font-size: 4rem;
}

#time-overview {
  font-size: 3rem;
}

.left {
  margin-right: 19rem;
  margin-top: 1rem;
  color: white;
}

.right {
  margin-left: 19rem;
  color: white;
}
.swiper-wrapper {
  justify-content: space-between;
  display: flex;
}

.feels_like {
  color: white;
}
.hourly {
  justify-content: center;
  padding: 1em;
}

#bg-img {
  background-image: url("evening.svg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  //justify-content: flex-start;
  text-align: center;
  padding: 0 20px;
  overflow-x: hidden;
}



#wrapper {
  margin: 0 auto;
  width: 74%;
  overflow-x: hidden;
  margin-bottom: 3rem;
}

#forecast {
  font-size: 100px;
}

#temp {
  font-size: 1.875rem;
  font-weight: bold;
}

.feels_like {
  color: white;
  font-size: 3rem;
}

#currentWeather {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem;
}

#location {
  padding: 7px;
  border-top: 3px solid rgba(255, 255, 255, 0.6);
}


#parameters {
    overflow: hidden;
    border-radius: 4%;
    margin-left: 9em;
    width: 100%;
    font-size: 1.5rem;
    padding-top: 1rem;
}

#parameters ul li {
  padding-bottom: 7px;
  line-height: 1.7;
  color: white;
}

#parameters ul {
  width: 33%;
  float: left;
  font-size: 2em;
}

.icon {
  width: 7rem;
}
@media screen and (max-width: 768px) {
  #wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  #wrapper {
    width: 95%;
  }

  #forecast {
    font-size: 75px;
  }
}

