* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  text-align: center;
  color: #0b0b0b;
  font-family: "Cabin", sans-serif;
}

ul {
  text-align: left;
  list-style-type: none;
}

h1 {
  font-size: 2rem;
  margin-bottom: 7px;
}

// h2 {
//   font-size: 1.5rem;
//   color: white;
// }

h4 {
  font-size: 1em;
}

#time-overview {
  font-size: 1.8em;
}

.left {
  margin-right: 19rem;
  margin-top: 1rem;
  color: white;
}

.right {
  margin-left: 19rem;
  color: white;
}
.swiper-wrapper {
  justify-content: space-between;
  display: flex;
}

.feels_like {
  color: white;
}
.hourly {
  justify-content: center;
  padding: 1em;
}

#bg-img {
  background-image: url("evening.svg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  //justify-content: flex-start;
  text-align: center;
  padding: 0 20px;
}

.greeting {
  margin-top: 36rem;
  color: white;
  background-color: rgb;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 2em;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

#forecast {
  font-size: 100px;
}

#temp {
  font-size: 1.875rem;
  font-weight: bold;
}

.feels_like {
  color: white;
  font-size: 2em;
}

#currentWeather {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem;
}

#location {
  padding: 7px;
  border-top: 3px solid rgba(255, 255, 255, 0.6);
}


#parameters {
  // background-color: rgba(255, 255, 255, 0.6);
  width: 125%;
  overflow: hidden;
  // margin-top: 3.5%;
  border-radius: 4%;
  // padding: 2em;
  margin-left: 3em;
}

#parameters ul li {
  padding-bottom: 7px;
  line-height: 1.7;
  color: white;
}

#parameters ul {
  width: 33%;
  float: left;
  font-size: 2em;
}


@media screen and (max-width: 768px) {
  #wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  #wrapper {
    width: 95%;
  }

  #forecast {
    font-size: 75px;
  }
}

