#item_wardrobe_templates_id, #item_color, #item_lowest_temperature, #item_highest_temperature {
  padding: 0;
  font-size: 2.5rem;
}

.carousel-control-next, .carousel-control-prev {
  filter: invert(100%);
}

.card-deck svg {
    overflow: hidden;
    vertical-align: middle;
    margin-left: 3rem;
}

h2{
    display: inline-block;
    margin-bottom: 1em;
    font-size: 4rem;
    color: black;
}

.container-wardrobe {
  margin-top: 4%;
  // padding: 1em;
  height: 100vh;
}

.container-new {
  width: 93%;
  padding: 5rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
}
.card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-left: 18rem;
    box-shadow: 0px 0px 15px 0px rgba(14,0,0,0.05);
    border-radius: 0.25rem;
    border: 1px solid #E5E5E5;
    background: white;
    margin-top: 15rem;
    font-size: 2rem;
    height: 45rem;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.fa-trash-alt {
  padding-left: 17rem;
}


label {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }
