// body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   font-family:'Varela Round', sans-serif;
// }
//
.home-container {
  position: absolute;
  background-image: url("mobile.svg");
  background-size: cover;
  height:100vh;
  position: relative;
}

//
.subtitle {
  color: #8A0032;
  margin-top: 1.5em;
  font-size: 1rem;
  margin-left: 4rem;
}
h9 {
  color: #8A0032;
  margin-top: 1.5rem;
  font-size: 1rem;
  margin-left: 9rem;
}
h8 {
  font-size: 1rem;
  color: white;
  // margin-left: 4rem;
}




.title {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  color: #8A0032;
  font-family: 'Varela Round', sans-serif;
      padding-top: 7rem;
}
//
//
